.featured-projects{

    padding:120px 0;

    background:#ffffff;

    position:relative;
}

.featured-projects::before{

    content:"";

    width:420px;

    height:420px;

    border-radius:50%;

    background:rgba(201,162,39,.05);

    position:absolute;

    top:-160px;

    left:-180px;
}

.section-title{

    text-align:center;

    max-width:760px;

    margin:auto auto 80px;
}

.section-title span{

    color:#C9A227;

    letter-spacing:3px;

    font-size:.9rem;

    font-weight:700;
}

.section-title h2{

    margin:20px 0;

    font-size:3rem;

    color:#1F5B45;

    line-height:1.2;
}

.section-title p{

    color:#666;

    font-size:1.05rem;

    line-height:1.8;
}