.me {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.about-column {
  flex: 1 1 calc(50% - 40px); /* Two columns layout with space between */
  margin: 20px;
}

.about-img,
.about-img-prudence {
  overflow: hidden;
  border-radius: 0px;
}

.about-img img,
.about-img-prudence img {
  width: 100%;
  height: auto;
  transition: transform 0.5s ease;
}

.about-img img:hover,
.about-img-prudence img:hover {
  transform: scale(1.1); /* Zoom effect on hover */
}

.about-content {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 0px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-content h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
}

.about-content p {
  font-size: 1rem;
  line-height: 1.6;
  color: #555;
}

.about-content button {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 0px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.about-content button:hover {
  color: #0056b3;
}

.about-content button svg {
  margin-left: 10px;
}

@media (max-width: 768px) {
  .about-column {
    flex: 1 1 100%; /* Full width on smaller screens */
    margin: 10px 0;
  }
}
