.cards-section {

  background:#1F4D3A;

  padding:80px 8%;

}



.cards-heading {

  text-align:center;

  max-width:750px;

  margin:auto;

}



.cards-heading h2 {

  color:#C9A227;

  font-size:38px;

  margin-bottom:20px;

}



.cards-heading p {

  color:#F8F3E7;

  line-height:1.8;

}



.cards-container {


  margin-top:50px;

  display:grid;

  grid-template-columns:repeat(3,1fr);

  gap:35px;


}



.card {


  background:#F8F3E7;

  padding:35px;

  border-radius:18px;

  position:relative;

  overflow:hidden;

  transition:.3s ease;

}



.card:hover {


  transform:translateY(-10px);

}



.card::before {


  content:"";

  position:absolute;

  top:0;

  left:0;

  width:100%;

  height:6px;

  background:#C9A227;


}



.card-number {


  font-size:40px;

  font-weight:700;

  color:#7A1F2B;


}



.card h3 {


  margin-top:15px;

  margin-bottom:15px;

  color:#1F4D3A;

  font-size:25px;


}



.card p {


  color:#2B2B2B;

  line-height:1.8;

  font-size:15px;


}



@media(max-width:900px){


.cards-container{

grid-template-columns:1fr;

}


}