.footer {

  background: #1F4D3A;
  color: #F8F3E7;

  padding: 70px 8% 0;

}



.footer-container {

  display: grid;

  grid-template-columns: 2fr 1fr 1fr 1.2fr;

  gap: 50px;

}



.footer-brand h2 {

  color: #C9A227;

  font-size: 28px;

  margin-bottom: 20px;

}



.footer-brand p {

  line-height: 1.8;

  max-width: 350px;

  color: #F8F3E7;

}



.footer-section h4 {

  color: #C9A227;

  font-size: 18px;

  margin-bottom: 20px;

}



.footer-section ul {

  padding:0;

}



.footer-section li {

  margin-bottom: 12px;

}



.footer-section a {

  color:#F8F3E7;

  transition:0.3s;

}



.footer-section a:hover {

  color:#C9A227;

}



.footer-section p {

  margin-top:12px;

  margin-bottom:5px;

  color:#C9A227;

}



.footer-section span {

  font-size:14px;

}



.footer-section button {


  margin-top:25px;

  background:#C9A227;

  color:#1F4D3A;

  border-radius:30px;

  padding:14px 30px;

  font-weight:700;


}



.footer-section button:hover {


  background:#7A1F2B;

  color:white;


}




.footer-social {


  display:flex;

  gap:15px;

  margin-top:25px;


}



.footer-social a {


  width:45px;

  height:45px;

  border-radius:50%;

  display:flex;

  align-items:center;

  justify-content:center;

  background:#F8F3E7;

  color:#7A1F2B;

  font-size:22px;

  transition:.3s;


}



.footer-social a:hover {


  background:#C9A227;

  color:#1F4D3A;


}



.footer-bottom {


  margin-top:50px;

  padding:25px 0;

  text-align:center;

  border-top:1px solid rgba(248,243,231,0.3);


}



.footer-bottom p {

  font-size:14px;

}



@media(max-width:800px){


.footer-container{

grid-template-columns:1fr;

}


}