.expert-views {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
}

.article {
  width: 30%; /* Adjust width as needed */
  text-align: left;
}

.article-image {
  width: 100%;
  height: auto;
}

.article-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #ec9c2d;
}

.article-description {
  font-size: 1rem;
  color: #000;
  margin-top: 5px;
}

/* Additional styling */
@media (max-width: 768px) {
  .expert-views {
    flex-direction: column;
  }

  .article {
    width: 100%;
  }
}
